*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,html{
line-height: 1.4;
scroll-behavior: smooth;
font-weight: 300;
}

a{
    text-decoration: none;

}

body{
    display: flex;
}

header{
    border: 1px solid gray;
    height: 100vh;

}

nav>h1{
    font-size: 25px;
    font-weight: 500;
    padding: 10px;
    border-bottom: 1px solid black;
}

nav>ul{
list-style: none;
}

li{
    border-bottom: 1px solid black;
    padding: 10px;
    color: black;
}

nav ul li:hover{
    background-color: gray;
    transition: 0.3s ease-in-out;
}

main{
    padding: 50px;
    max-width: 1200px;
}

section{
    margin-bottom: 50px;
}

section article{
    font-size: 14px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

section h2{
    font-size: 20px;
    border-bottom: 1px solid black;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

code{
    white-space: pre-line;
    background-color: gray;
    padding: 15px;
    margin: 10px;
    border-radius: 5px;
    font-weight: 700;
}

@media(max-width: 480px){
    body{
        flex-direction: column;
    }
    header{
        height: auto;
    }
}

